*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: hsl(212, 45%, 89%);
}
.content{
	background-color: hsl(0, 0%, 100%);
	margin-left: 450px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 390px;
	padding: 20px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
}
.qr{
	display: flex;
	flex-direction: column;
    align-items: center;
}
img{
	width: 410px;
	border-radius: 25px;
}
h1{
	text-align: center;
	font-family: sans-serif;
	font-weight: 700;
}
p{
	font-weight: 400;
	font-size: 15px;
	color: hsl(212, 45%, 89%);
	text-align: center;
}
.attribution {
     font-size: 11px; text-align: center; 
 }
.attribution a { 
    	color: hsl(228, 45%, 44%); 
 }